<div class="create-secret-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="onCancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h1 class="modal-title">
      <translate>Create {{type | capitalize}} Secret</translate>
      
    </h1>
  </div>
  <div class="modal-body contains-form">
    <create-secret type="type"
                    service-account-to-link="serviceAccountToLink"
                    namespace="namespace"
                    on-create="onCreate(newSecret)"
                    on-cancel="onCancel()"></create-secret>
  </div>
</div>
